.footer 
{
	position:relative; 
	bottom:0; 
	left:0; 
	right:0;
	align:center;
}

.footer p
{
	text-align: center;
}

.left-nav
{
	float: left;
	width: 160px;
}

.main-content
{
	float: center;
	margin-left: 220px;
	margin-right: auto;
	width: 960px;
}

body{
	margin:auto 0px;
}
.content{
	width:100%;
	height:auto;
	position:relative;
	top:0px;
	left:0px;
}
.span10
{
	width:83%;
}
/* order management */
.add_order,.order_view
{
	width:100%;
	height:auto;
	overflow:hidden;
}
.order_view
{
	height:0px;
}
/* delivery view */
.delivery_view
{
	width:100%;
}

/* add new client form, client detail form, client payment detail form */
.add_new_client, .client_detail, .client_payment_detail
{
	width:100%;
	height:auto;
	top:0px;
	left:0px;
    overflow:hidden;
}
 .client_detail, .client_payment_detail
 {
	 height:0px;
 }
/* add new supplier form, supplier detail form*/
.add_new_supplier, .supplier_detail
{
	width:100%;
	height:auto;
	top:0px;
	left:0px;
    overflow:hidden;
}
 .supplier_detail
 {
	 height:0px;
 }

 /* delivery address style */
 .delivery_address
 {
	 width:100%;
	 height:auto;
	 overflow:hidden;
	 padding-right:20px;
 }
 /* view payment, viewbalance, cost */
.viewpayment,.costpayment,.viewbalance
{
	width:100%;
	height:auto;
	overflow:hidden;
}
.costpayment,.viewbalance
{
	height:0px;
}
.titlebar
{
	width:100%;
	height:40px;
}
.company,.retail
{
	line-height:20px;
	width:40px;
	float:left;
	margin-left:10px;
	padding-left:12px;
	background:#000;
	color:#FFF;
	cursor:pointer;
}
.retail
{
	background:#fff;
	color:#000;
}
.paymentcontrol, .viewpaymentlist, .companypayment, .retailpayment
{
	width:100%;
	height:auto;
	overflow:hidden;
	margin-top:5px;
}
.paymentcontrol
{
	height:226px;
}
.retailpayment
{
	height:0px;
}
/* product management style */
/* intoproduct, addnewproduct, productmanagement */
.intoproduct, .addnewproduct,.productmanagement
{
	width:100%;
	height:auto;
	overflow:hidden;
}
 .addnewproduct,.productmanagement
 {
	 height:0px;
 }
 /* company debit and credit control */
.incomeview,.searchresultview
{
	width:100%;
	height:auto;
	overflow:hidden;
}

.table-fixed
{
	table-layout:fixed;
}
/* icon pic controll */
i:hover{
	cursor:pointer;
}

/* client and supplier edit */
.client_supplier
{
	visibility:hidden;
	background:#FFF;
	width:0px;
	height:0px;
	position:fixed;
	top:15%;
	left:20%;
	overflow:auto;	
}
.client_supplier_detail
{
	width:auto;
	margin:0px auto;
}
/*
.table-scrollable-wrapper thead tr{
    position:relative;
}

.table-scrollable-wrapper thead{
	display:block;
}

.table-scrollable-wrapper tbody{
	display:block;
	padding:0 ; 
    height:500px;
    overflow:auto;
}*/